/* CALLING ALL ELEMENTS */
*
{
  box-sizing: border-box;
  font-family: Aldrich;
}

body
{
  margin: 0px;
}

/* HEADER STYLES */
.header, .footer
{
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/* NAV STYLES */
.topnav
{
  overflow: hidden;
  background-color: #333;
}

/* NAV LINK STYLES */
.topnav a
{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* NAV LINK HOVER EFFECT */
.topnav a:hover
{
  background-color: #ddd;
  color: black;
}

/* 3 COLUMNS DIFFERENT WIDTH */
.column
{
  float: left;
  padding: 10px;
}

/* LEFT AND RIGHT COLUMNS WIDTH */
.column.side
{
  width: 25%;
}

/* MIDDLE COLUMN WIDTH */
.column.middle
{
  width: 50%;
}

/* CLEARING FLOAT TO STOP EFFECT */
.row:after
{
  content: "";
  display: table;
  clear: both;
}

/* RESPONSIVE LAYOUT - COLUMNS WILL BE INLINE TILL DEVICE WIDTH IS LESS THAN 600PX */
@media screen and (max-width: 600px)
{
  .column.side, .column.middle
  {
    width: 100%;
  }
}