/* CALLING ALL ELEMENTS */
*
{
	box-sizing: border-box;
	font-family: Aldrich;
}

body
{
	margin: 0px;
}

/* HEADER STYLES */
.header, .footer
{
	background-color: #f1f1f1;
	padding: 5px;
	text-align: center;
}

/* NAV STYLES */
.topnav
{
	overflow: hidden;
	background-color: #333;
}

/* NAV LINK STYLES */
.topnav a
{
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* NAV LINK HOVER EFFECT */
.topnav a:hover
{
	background-color: #ddd;
	color: black;
}

/* 3 COLUMNS DIFFERENT WIDTH */
.column
{
	float: left;
	/*padding: 2px;*/
}

/* LEFT AND RIGHT COLUMNS WIDTH */
.column.side
{
	width: 0%;
}

/* MIDDLE COLUMN HOLDING THE STATS AND IMAGES */
.column.middle
{
	width: 100%;
	text-align: center;
	padding: 10px 5px;
	background-color: rgba(50,50,50,0.1);
}
table
{
	background-color: rgba(50,50,50,0.1);
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 5px;
	box-shadow: 2px 2px 5px rgba(0,0,255,0.8);
}
th
{
	background-color: rgba(255,100,100,0.5);
	border-radius: 5px;
}
tr.title,td
{
	background-color: rgba(255,100,100,0.3);
	border-radius: 5px;
}

.pokemon_image
{
	/*border: 1px solid blue;*/
	width: auto;
}


/* POKEMON SERACH BOX - POKEDEX */
.pokemon_search_box
{
	padding: 10px;
	
}
.pokemon_search_btn
{
	border-radius: 2px;
	border: 1px solid rgba(255,0,0,0.8);
	box-shadow: 1px 1px 1px rgba(0,0,255,0.8);
}
.pokemon_search_btn:hover
{
	border: 1px solid rgba(255,0,0,0.3);
	background: rgba(255,0,0,0.5);
	color: white;
	font-weight: bold;
}
.pokemon_search_field
{
	background-color: white;
	border-radius: 2px;
	border: 1px solid rgba(255,0,0,0.8);
	color: black;
	text-align: center;
}


/* CLEARING FLOAT TO STOP EFFECT */
.row:after
{
	content: "";
	display: table;
	clear: both;
}

/* RESPONSIVE LAYOUT - COLUMNS WILL BE INLINE TILL DEVICE WIDTH IS LESS THAN 600PX */
@media screen and (max-width: 600px)
{
	.column.side, .column.middle
	{
		width: 100%;
	}
}