<!-- 
	I reverted back to basics of JSON Object's so I analyse how JSON works.
	
	I first tried a simple object and then added several more objects.
	
	SIMPLE VERSION WORKS!!!

-->



<div>
	<table border='2'>
		<tr>
			<th>POKEDEX</th>
		</tr>
		<tr>
			<td id="tagName"></td>
			<td id="pokemonName"></td>
		</tr>
	</table>
</div>

<script type="text/javascript">

	pokedexJSON = {"pokedex":
	[
		{"name":"bulbasaur","type":{"type1":"grass","type2":"poison"}"total":318,"hp":45,"attack":49,"defense":49,"spAttack":65,"spDefense":65,"speed":45},
		{"name":"ivysaur","type":{"type1":"grass","type2":"poison"}"total":405,"hp":60,"attack":62,"defense":63,"spAttack":80,"spDefense":80,"speed":60},
		{"name":"venusaur","type":{"type1":"grass","type2":"poison"}"total":525,"hp":80,"attack":82,"defense":83,"spAttack":100,"spDefense":100,"speed":80},
		{"name":"mega venusaur","type":{"type1":"grass","type2":"poison"}"total":625,"hp":80,"attack":100,"defense":123,"spAttack":122,"spDefense":120,"speed":80},
		{"name":"charmander","type":{"type1":"fire","type2":""}"total":319,"hp":39,"attack":52,"defense":43,"spAttack":60,"spDefense":50,"speed":65},
		{"name":"charmeleon","type":{"type1":"fire","type2":""}"total":405,"hp":58,"attack":64,"defense":58,"spAttack":80,"spDefense":65,"speed":80},
		{"name":"charized","type":{"type1":"fire","type2":"flying"}"total":534,"hp":78,"attack":84,"defense":78,"spAttack":109,"spDefense":85,"speed":100},
		{"name":"mega charized x","type":{"type1":"fire","type2":"dragon"}"total":634,"hp":78,"attack":130,"defense":111,"spAttack":130,"spDefense":85,"speed":100},
		{"name":"mega charized y","type":{"type1":"fire","type2":"flying"}"total":634,"hp":78,"attack":159,"defense":78,"spAttack:159","spDefense":115,"speed":100},
		{"name":"squirtle","type":{"type1":"water","type2":""}"total":314,"hp":44,"attack":48,"defense":65,"spAttack":50,"spDefense":64,"speed":43}
	]
	};

	
	
	//var pokedexJSON = '{"name":"Pikachu","type":"electric","total":"100"}';
	
	var pokedexObj = JSON.parse(pokedexJSON);
	
	//document.getElementById("pokemonName").innerHTML = pokedexObj.name;
	
	
	for(x in pokedexObj)
	{
		document.getElementById("tagName").innerHTML += x + "<br/>";
	}
	for(y in pokedexObj)
	{
		document.getElementById("pokemonName").innerHTML += pokedexObj[y] + "<br/>";
	}
	
</script>



