<!-- 
	This version of the search pages/functionallity came the closest with creating a dynamic table when the data was receieved based on a window onload event.
	
	When running the page the console catches errors regarding unrecognised/cant read propoerty keywords
-->


<script>
	//Once the window of the browser is loaded the eventerlistener will load a function called getRows
	window.addEventListener("load",function()
	{
		getRows();
	});
	
	//getRows function using ajax
	function getRows()
	{
		var xmlhttp = new XMLHttpRequest();
		xmlhttp.open("GET", "pokemon_list.xml",true);
		xmlhttp.onreadystatechange = function()
		{
			if(this.readyState == 4 && this.status == 200)
			{
				showResult(this);
			}
		};
		xmlhttp.send();
	}
	
	function showResult(xmlhttp)
	{
		var xmlDoc = xmlhttp.responseXML.documentElement;
		
		removeWhiteSpace(xmlDoc);
		
		var rowData = xmlDoc.getElementByTagName("POKEDEX");
		
		addTableRowsFromXmlDoc(rowData,outputResult);
	}
	
	
	function addTableRowsFromXmlDoc(xmlNodes,tableNode) {
	var theTable = tableNode.parentNode;
	var newRow, newCell, i;
	console.log ("Number of nodes: " + xmlNodes.length);
	for (i=0; i<xmlNodes.length; i++) {
		newRow = tableNode.insertRow(i);
		newRow.className = (i%2) ? "OddRow" : "EvenRow";
		for (j=0; j<xmlNodes[i].childNodes.length; j++) {
			newCell = newRow.insertCell(newRow.cells.length);
			if (xmlNodes[i].childNodes[j].firstChild) {
				newCell.innerHTML = xmlNodes[i].childNodes[j].firstChild.nodeValue;
			} else {
				newCell.innerHTML = "-";
			}
			console.log("cell: " + newCell);
		}
	}
	theTable.appendChild(tableNode);
	
	
	function removeWhiteSpace()
	{
		var loopIndex;
		for(loopIndex = 0; loopIndex < xml.childNodes.length; loopIndex++)
		{
			var currentNode = xml.childNodes[loopIndex];
			if(currentNode.nodeType == 1)
			{
				removeWhiteSpace(currentNode);
			}
			if(!(/\S/.test(currentNode.nodeValue)) && (currentNode.nodeType == 3))
			{
				xml.removeChild(xml.childNodes[loopIndex--]);
			}
		}
	}
}

</script>

<div>
	<table id="pokedexTable">
		<tbody id="BodyRows"></tbody>
	</table>
</div>